  {{>navigation}}
  <div class="profile col-md-6 text-center col-lg">
    <img class="profile-img" src="./images/user.png" />
    <div class="profile-info">
      <p>Username: <small>{{email}}</small></p>
      <p class="infoType">{{campaign.currentRequests.length}}</p>
      <p>Everest Base Camp</p>
      <p>Langtang and Gosainkund</p>
      <p>No treks</p>
    </div>
  </div>
  {{>footer}}